<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LootManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LootManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LootManager.Properties.Settings>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="xmlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="traderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="initPath" serializeAs="String">
                <value />
            </setting>
            <setting name="spawnabletypesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="chernarusMapDownloaded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgeventspawnsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgplayerspawnpointsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="currentMarker" serializeAs="String">
                <value>marker</value>
            </setting>
            <setting name="vehicleString" serializeAs="String">
                <value>&lt;pos x="#X" z="#Y" a="0" /&gt;</value>
            </setting>
            <setting name="spawnString" serializeAs="String">
                <value>&lt;pos x="#X" z="#Y" /&gt;</value>
            </setting>
            <setting name="richtxtboxString" serializeAs="String">
                <value />
            </setting>
        </LootManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <LootManager.Properties.Settings>
            <setting name="version" serializeAs="String">
                <value>v2.5</value>
            </setting>
        </LootManager.Properties.Settings>
    </applicationSettings>
</configuration>